@font-face {
    font-family: 'GolosUIWebBold';
    src:    url('lab1/fonts/Golos UI_Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GolosUIWebMedium';
    src: url('lab1/fonts/Golos UI_Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GolosUIWebRegular';
    src: url('lab1/fonts/Golos UI_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.text-entry{
    font-family: 'GolosUIWebBold', sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
    margin-top: 0;
    margin-bottom: 0;
}

.author-field{
    width: 343px;
    height: 251px;
}

.author-field__input {
    background-color: #F2F3F5;
    width: 343px;
    height: 44px;
    border-radius: 10px;
    border-width: 0;
}

.author-field__text{
    font-family: 'GolosUIWebRegular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.author-field__help-block{
    font-family: 'GolosUIWebRegular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
}

.author-field__button-continue{
    width: 343px;
    height: 48px;
    border-radius: 10px;
    border-width: 0;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #222222;

    font: 500 16px/1 GolosUIWebRegular, sans-serif;
    color: #FFFFFF;
}

.menu-bar{
    width: 40px;
    height: 120px;
}

.main-feed{
    width: 474px;
    height: 1338px;
}

.post-user{
    width: 474px;
    height: 700px;
}



.post-user__header {
    width: 474px;
    height: 32px;
    margin-bottom: 15px;
}

.header__name{
    width: 90px;
    height: 18px;
    font-family: 'GolosUIWebMedium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    display: inline;
}

.header__avatar{
    width: 32px;
    height: 32px;
}

.post-user__count-photo{
    width: 44px;
    height: 24px;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #22222280;
    backdrop-filter: blur(12px);
}
.post-user__count-photo-text{
    font-family: 'GolosUIWebRegular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;

}

.post-user__photo{
    width: 474px;
    height: 474px;
}

.post-user__like{
    width: 68px;
    height: 30px;
    border-radius: 8px;
    background-color: #2222220D;
}

.post-user__like-count{
    font-family: 'GolosUIWebRegular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    display: inline;

}

.post-user__text{
    font-family: 'GolosUIWebRegular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    margin-top: 0;
    margin-bottom: 0;

}

.post-user__more{
    font-family: 'GolosUIWebRegular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
    margin-top: 0;
    margin-bottom: 0;
}

.post-user__time{
    font-family: 'GolosUIWebRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    color: #22222280;
    margin-top: 0;
    margin-bottom: 0;

}

.profile__name{
    font-family: 'GolosUIWebMedium', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.25px;
}
.profile__description{
    font-family: GolosUIWebRegular, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    width: 361px;
    height: 36px;
}
.profile__count-post{
    width: 101px;
    height: 30px;
    border-radius: 6px;
    gap: 6px;
    background-color: #F2F3F5;
}

.count-post__text{
    font-family: GolosUIWebRegular, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    display: inline;

}

.profile-photos{
    width: 975px;
    height: 1625px;

}
.profile-photos__photo {
    width: 322px;
    height: 322px;
}