@font-face {
    font-family: 'GolosUIWebBold';
    src:    url('fonts/Golos UI_Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GolosUIWebRegular';
    src:    url('fonts/Golos UI_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.title {
    font-family: 'GolosUIWebBold';
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;

}
.input-field {
    background-color: #F2F3F5;
    width: 343px;
    height: 44px;
    border-radius: 10px;
    border-width: 0px;
}

.input_area {
    width: 343px;
    height: 251px;
}
.lable_input{
    font-family: 'GolosUIWebRegular';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;

}
.hint_input{
    font-family: 'GolosUIWebRegular';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
}
.button {
    width: 343px;
    height: 48px;
    border-radius: 10px;
    border-style: solid;
    border-color: #222222;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #222222;

    font: 500 16px/1 GolosUIWebRegular, sans-serif;
    color: #FFFFFF;
}