@font-face {
    font-family: 'Golos UI Bold';
    src: url('lw5/fonts/GolosUI_Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Golos UI Medium';
    src: url('lw5/fonts/GolosUI_Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Golos UI Regular';
    src: url('lw5/fonts/GolosUI_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.menu-bar{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

.menu-bar__button{
    border: none;
    outline: none;
    background-color: #FFFFFF00;
}

.main-feed{
    width: 474px;
}

.post-user{
    width: 474px;
    height: 700px;
}

.post-user__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    padding-top: 16px;
}

.post-user__header-name-block{
    height: 32px;
    width: 474px;
}

.header__name-avatar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    width: 132px;
}

.header__name{
    font: 500 14px'Golos UI Medium', sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    display: inline;
}

.post-user__edit{
    border: none;
    outline: none;
    background-color: #FFFFFF00;
}

.post-user__photo-area{
    position: relative;
}

.post-user__count-photo{
    width: 44px;
    height: 24px;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #22222280;
    backdrop-filter: blur(12px);
    position: absolute;
    right: 16px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-user__count-photo-text{
    font:400 15px/18px 'Golos UI Regular', sans-serif;
    letter-spacing: -0.15px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;

}

.post-user__photo{
    width: 474px;
    height: 474px;
}

.post-user__button-photo{
    width: 20px;
    height: 20px;
    border-radius: 999px;
    backdrop-filter: blur(13px);
    border: none;
    outline: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
}

.left{
    background-color: #FFFFFF1A;
    left: 16px;
}

.right{
    background: #FFFFFF99;
    right: 16px;
}

.post-user__like{
    width: 68px;
    height: 30px;
    border-radius: 8px;
    background-color: #2222220D;
    border: none;
    outline: none;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}

.post-user__like-count{
    display: flex;
    align-items: center;
    font:400 15px/18px 'Golos UI Regular', sans-serif;
    letter-spacing: -0.15px;
}

.post-user__like-photo{
    width: 16px;
    height: 16px;
    margin: 0;
}

.post-user__text{
    font:400 15px/18px 'Golos UI Regular', sans-serif;
    letter-spacing: -0.15px;
    margin-top: 0;
    margin-bottom: 0;
}

.post-user__more{
    font:400 15px/18px 'Golos UI Regular', sans-serif;
    letter-spacing: -0.15px;
    color: #808080;
    margin-top: 0;
    margin-bottom: 0;
}

.post-user__time{
    font:400 14px/18px 'Golos UI Regular', sans-serif;
    letter-spacing: -0.15px;
    vertical-align: middle;
    color: #22222280;
    margin-top: 0;
    margin-bottom: 0;
}